.container {
    background: linear-gradient(to right, #fff 70%, #ffe5e5 30%);
    width: 100%;
    height: 100vh;
    display: flex;
}

.container div{
    width: 90%;
    margin: 20vh 9vw 3vh 1vw;
}

.container .container_text{
    margin: 15vh auto 2vh auto;
    padding: 5% 10%;
    text-align: left;
    width: 90%;
}

.container .container_text h2{
    font-weight: 400;
}

.container .container_text span{
    font-weight: 600;
}
.container .container_text h1{
    font-size: 2.5rem;
    font-weight: 600;
}
.container .container_text a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #DAA520;
    color:white;
    font-size: 0.9rem;
}

.table{
    width: 100%;
}