/* Headline image over */
.container_header_img{
    width: 90%;
    margin: 10vh auto;
}

.container_header_img img{
    width: 70%;
}
/*gallery */

.container_products{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10vh 10vh
}

.card{
    text-align: left;
    position: relative;
}

.card h2{
    position: absolute;
    transform: translate(30px, 10px);
}

.card a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #DAA520;
    color:white;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-20%, -50%);
}



